# Primary project owner: @hrunx
# Founder line:
# Haroon Shafqat (Project Owner): https://www.linkedin.com/in/haroon-shafqat/
# Ali Ghnaim (Visionary & Strategist): https://www.linkedin.com/in/alighnaim/
* @hrunx
